extends ../layout

include ../partials/dashboard-selector

block content
  section.content-header
    h1
      | CMT Dashboard
    ol.breadcrumb
      li
        a(href='/dashboard')
          i.fa.fa-dashboard
          |  Dashboard
      li.active CMT Dashboard

  section.content
    //- Dashboard Selector
    +dashboardSelector(user.roleName)
    
    .row
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon(style="background-color: #8A2061; color: white;")
            i.fa.fa-user-circle-o 
          .info-box-content
            span.info-box-text Welcome
            span.info-box-number #{user.username || 'User'}
            .progress
              .progress-bar.progress-bar-aqua(style='width: 100%')

      .col-md-4.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-aqua
            i.fa.fa-user-circle-o 
          .info-box-content
            span.info-box-text Total Users
            span.info-box-number #{stats.total_users}
            .progress
              .progress-bar.progress-bar-aqua(style='width: 100%')  

    .row
      .col-md-12
        .box.box-parrot
          .box-header
            h3.box-title Quick Link Button for CMT Team                    
  
      .col-md-4.col-sm-6.col-xs-12
        a(href='/laboratory' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #007bff;")
              <i class="fa fa-square-envelope" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text HIS Lab Report Email Tracker
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')

      .col-md-4.col-sm-6.col-xs-12
        a(href='cmt/marketing' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #28a745;")
              <i class="fa fa-location-dot" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text PipeDrive
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')  

      .col-md-4.col-sm-6.col-xs-12
        a(href='/imaging/ops-admin' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #6f42c1;")
              <i class="fa fa-images" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text Admin Imaging Report
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')

      .col-md-4.col-sm-6.col-xs-12
        a(href='/prescription/ops-admin' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #dc3545;")
              <i class="fa fa-file-medical" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text Admin Prescription Report
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')  

      .col-md-4.col-sm-6.col-xs-12
        a(href='/cmt/call-center' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #fd7e14;")
              <i class="fa fa-calendar-check" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text Multiple Appointment List
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')

      .col-md-4.col-sm-6.col-xs-12
        a(href='cmt/call-center/vc' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #20c997;")
              <i class="fa fa-calendar-check" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text VC Appointment List
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')

      .col-md-4.col-sm-6.col-xs-12
        a(href='cmt/call-center/book' style='text-decoration:none; color:inherit;')
          .info-box(style='cursor: pointer;')
            span.info-box-icon(style="background-color: #17a2b8;")
              <i class="fa fa-book-medical" style="font-size:48px;color:white"></i>
            .info-box-content
              span.info-box-text Appointment Tool
              span.info-box-text(style="font-size:14px; font-weight:600;") Dashboard
              .progress
                .progress-bar.bg-red(style='width: 100%')
              span.info-box-text(style='font-weight: bold;')                                                                 

block script
  script(src='/socket.io/socket.io.js')
  script.
    $(function () {
      // Initialize socket.io client
      const socket = io();
      socket.on('dashboard-update', function(data) {
        console.log('User dashboard update received:', data);
        if (data.message) {
          alert('Update: ' + data.message);
        }
      });

      // Set current date once
      $('#currentDate').text(new Date().toLocaleDateString());

      // Update time every second
      setInterval(function() {
        const now = new Date();
        $('#currentTime').text(now.toLocaleTimeString());
      }, 1000);
    });
