extends ../layout

include ../partials/dashboard-selector

block content
  section.content-header
    h1
      | Sales Dashboard
    ol.breadcrumb
      li
        a(href='/dashboard')
          i.fa.fa-dashboard
          |  Dashboard
      li.active Sales Dashboard

  section.content
    //- Dashboard Selector
    +dashboardSelector(user.roleName)
    
    .row
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-aqua
            i.fa.fa-user-circle-o 
          .info-box-content
            span.info-box-text Welcome
            span.info-box-number #{user.username || 'User'}
            .progress
              .progress-bar.progress-bar-aqua(style='width: 100%')

      .col-md-4.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-aqua
            i.fa.fa-user-circle-o 
          .info-box-content
            span.info-box-text Total Users
            span.info-box-number #{stats.total_users}
            .progress
              .progress-bar.progress-bar-aqua(style='width: 100%')        

      .col-md-4.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-green
            i.fa.fa-calendar-check-o
          .info-box-content
            span.info-box-text Today's Date
            span.info-box-number#currentDate #{new Date().toLocaleDateString()}
            .progress
              .progress-bar.bg-green(style='width: 100%')

      .col-md-4.col-sm-6.col-xs-12
        .info-box
          span.info-box-icon.bg-blue
            i.fa.fa-clock-o
          .info-box-content
            span.info-box-text Current Time
            span.info-box-number#currentTime --:--
            .progress
              .progress-bar.bg-blue(style='width: 100%')

block script
  script(src='/socket.io/socket.io.js')
  script.
    $(function () {
      // Initialize socket.io client
      const socket = io();
      socket.on('dashboard-update', function(data) {
        console.log('User dashboard update received:', data);
        if (data.message) {
          alert('Update: ' + data.message);
        }
      });

      // Set current date once
      $('#currentDate').text(new Date().toLocaleDateString());

      // Update time every second
      setInterval(function() {
        const now = new Date();
        $('#currentTime').text(now.toLocaleTimeString());
      }, 1000);
    });
