// Forgot Password Trigger Button
button.btn.btn-link(type='button', data-toggle='modal', data-target='#modalForgotPassword') Forgot your password?

// Modal 1: Enter EmpID
#modalForgotPassword.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Forgot Password
        button.close(type='button', data-dismiss='modal') &times;
      .modal-body
        input.form-control#empIdInput(type='text', placeholder='Enter Employee ID')
        button.btn.btn-primary.mt-2#sendOtpBtn(type='button') Send OTP

// Modal 2: Verify OTP
#modalOtpVerify.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Verify OTP
        button.close(type='button', data-dismiss='modal') &times;
      .modal-body
        input.form-control#otpInput(type='text', placeholder='Enter 6-digit OTP')
        button.btn.btn-success.mt-2#verifyOtpBtn(type='button') Verify OTP

// Modal 3: Reset Password
#modalResetPassword.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Reset Password
        button.close(type='button', data-dismiss='modal') &times;
      .modal-body
        input.form-control#newPasswordInput(type='password', placeholder='New Password')
        input.form-control#confirmPasswordInput.mt-2(type='password', placeholder='Confirm Password')
        button.btn.btn-warning.mt-2#resetPasswordBtn(type='button') Reset Password
